<h2 style="text-align: center"> Fakebook Account. </h2>
<mat-card style="background-color: #99C5F7">
<button><img width="200" alt=" Logo" src="assets\cowZuma.jpg">
<h4>Jakop Msholozi Zuma </h4></button>

        
        <button mat-menu-item routerLink="/register">
            <mat-icon>adding</mat-icon>
            <span>Create New Account</span>
          </button>
          <button mat-menu-item routerLink="/register">
            <mat-icon>search</mat-icon>
            <span>Find another Account</span>
          </button>
</mat-card>
